body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    display: block;
}

.cor{
    color: blueviolet;
    text-align: center;
    text-transform: uppercase;
}

div + h2 {
    color: aqua;
}

.MP {
    margin: 20px;
    padding: 30px;
}
